*{
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
  width: 100%;
}

h2{
  margin: 0;
  margin-top: 2px;
  margin-bottom: 30px;
  color: grey;
}

th{
  padding: 20px 20px;
}

td{
  text-align: center;
}

td:nth-child(1){
  text-align: justify;
}

tr:nth-child(even){
  background-color: rgba(204, 204, 204, 0.7);
}

td + td {
  border-left: 1px solid grey;
}

tr#total {
  background-color: red;
}